* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ed9121;
}

.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.card {
    display: grid;
    width: 500px;
    border: 2px solid lightgray;
    gap: 10px;
    border-radius: 5px;
}

img {
    width: 100%;
    background-color: black;
    align-self: center;
    border-bottom: 2px solid lightgray;
}

.title-container {
    border-bottom: 2px solid lightgray;
    padding: 10px;
}

.title-container > h1 {
    font-weight: bold;
}
.title-container > p {
    font-weight: 600;
}

.item1, .item2, .item3 {
    border-bottom: 2px solid lightgray;
    padding: 10px;
}

.container-items > p {
    font-weight: 600;
}

.container-links {
    display: flex;
    gap: 20px;
    margin-left: 2%;
    padding: 10px;
    font-weight: 600;
}

.container-links > a {
    font-weight: 600;
    font-size: 20px;
}

.container-links > a:link {
    color: rgb(8, 91, 245);
}